@page
@model InstrumentShop.Pages.SearchResultModel
@{
}

<h3>Sökresultat för @Model.Search:</h3>
<table class="tab-content">
    
    <tbody>
    <thead>
    <tr>
        <th>
            <a asp-route-sort="@Model.Sort" asp-route-query="@Model.Search" asp-page="/SearchResult">Namn</a>
        </th>
    </tr>
    </thead>
    @foreach (var item in @Model.Lista)
    {
        <tr>
            <td> <a asp-route-id="@item.Id" asp-page="/Product">@item.Namn</a></td>
        </tr>
    }
    </tbody>
</table>
