@page
@model InstrumentShop.Pages.Admin.Products.ListModel
@{
}
<form enctype="multipart/form-data">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Namn</th>
            <th>Beskrivning</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ProduktLista)
        {
            <tr>
                <td><img width="100" height="70" src="@item.Bild" /></td>
                <td>@item.Name</td>
                <td>@item.Bes</td>
                <td>
                    <a asp-route-id="@item.Id" asp-page="/admin/Products/Edit" class="btn btn-primary">Ändra</a>
                    <a asp-route-id="@item.Id" asp-page="/admin/Products/Delete" class="btn btn-danger">Ta Bort</a>
                </td>



            </tr>

        }
        </tbody>
        <tfooter>
            <tr>
                <td colspan="2">
                    <a asp-page="/admin/products/create" class="btn btn-primary">Ny produkt</a>
                </td>
            </tr>
        </tfooter>
    </table>
</form>